*{
    box-sizing:border-box;
  }

body{
    background-color:white;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    margin-top: 1em;
    font-family:sans-serif;
}

/* MAIN CONTAINER: GAME BOARD & INSTRUCTIONS */ 

.gameMainContainer{
    display: grid;
    place-items: center;
    color: #B799FF;
    margin: 1em;
    padding: 2em;
    text-decoration: none;
}

/* <!-- GAME BOARD  --> */ 
.gameBox{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content:center;
    align-items: center;
    margin-top: 3em;
    
}
.gameBoard {
    display: flex;
    flex-direction: column;
    place-items:center ;
    /* height: 80%; */
    width: 40%;
    justify-content: center;
    align-items: center;

 }

.secretCode {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 3em;
   width: 12em;
}
.secretCode > span {
    border-radius: 40px;
    border-style: solid ;
    height: 2.5em;
    width: 2.5em;
    margin: 0.2em;
    border-color: #B799FF;
}
    
.colorBoard{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 7px;
    place-items: center;
}
    
.colorBoard > * {
    display: grid;
    place-items: center;
}

.col {
    border-radius: 40px;
    border-style: solid ;
    height: 2.5em;
    width: 2.5em;
    color: #FF55BB;
}
.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9, .row10{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
}

.row1 > div , .row2 > div, .row3 > div, .row4 > div, .row5 > div, .row6 > div, .row7 > div, .row8 > div, .row9 > div, .row10 > div {
    border-radius: 20px;
    border-style: solid ;
    height: 0.8em;
    width: 0.8em;
   } 
   
.instructions {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    justify-content: center;
    width: 50%;
}
.colorOptions{
    display: flex;
    justify-content: center;
}

.colorOptions > span{
    border-radius: 40px;
    border-style: solid;
    border-color: #BDCDD6;
    height: 2.5em;
    width: 2.5em;
    margin: 0.2em;
}

.colorOptions, .buttons, .level > span:hover{
    cursor: pointer;
}

.blue {
    background-color: #19A7CE;}
    
.orange{
    background-color: #F97B22;
}
.green{
    background-color:#00FFCA ;}
.purple{
    background-color: #AD7BE9;
}
.pink{
    background-color: #FF55BB;
}
.yellow{
    background-color: #F9F54B;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons > span{
    border-style: solid;
    border-radius: 5%;
    border-color: #B2A4FF;
    height: 1.5em;
    width: 3.5em;
    margin: 1em;
    text-align: center;
    background-color: #B799FF;
  }

  .level{
    display: flex;
    justify-content: center;
}

  .level > span{
    border-style: solid;
    border-color:#408E91;
    color: aliceblue;
    border-radius: 5%;
    height: 1.5em;
    width: 5em;
    margin: 1em;
    text-align: center;
    background-color: #1B9C85;
  }

  .levelBoard{
    text-align: center;
    color:#47A992;
  }


  .howToPlay {
    display:flex;
    width: 100%;
    font-size: small;
    color:#1D267D;
    text-align: justify;
    align-items: center;
    justify-content:center;
  }

  #buttonName{
    justify-content: center;
    align-items: center;
  }
  
@media (max-width: 600px){
    .gamebox{width: 50%;}

}
   
