*{
    box-sizing:border-box;
  }

body{
    background-color: #FF55BB;
    overflow-x: hidden;
    padding: 0;
    margin-top: 1em;
    font-family:sans-serif;
}

/* MAIN CONTAINER: GAME BOARD & INSTRUCTIONS */ 

.gameMainContainer{
    background-color: #FFD3A3;
    height: 50%;
    display: grid;
    place-items: center;
    color: #B799FF;
    margin: 1em;
    padding: 2em;
}

/* <!-- GAME BOARD  --> */ 
.gameBox{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:center;
    align-items: center;
    margin-top: 3em;
    
}
.gameBoard {
    display: flex;
    flex-direction: column;
    place-items:center ;
    width: 40%;
     justify-content: center;
     align-items: center;

 }

.secretCode {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 3em;
   width: 12em;
}
.secretCode > span {
    border-radius: 40px;
    border-style: solid ;
    height: 2.5em;
    width: 2.5em;
    margin: 0.2em;
    border-color: #FF55BB;

}
    
.colorBoard{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 7px;
    place-items: center;
    background-color: FCFFB2;
}
    
.colorBoard > * {
    display: grid;
    place-items: center;
}

.col {
    border-radius: 40px;
    border-style: solid ;
    height: 2.5em;
    width: 2.5em;
    color: #FF55BB;
}
.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9, .row10{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
}

.row1 > div , .row2 > div, .row3 > div, .row4 > div, .row5 > div, .row6 > div, .row7 > div, .row8 > div, .row9 > div, .row10 > div {
    border-radius: 20px;
    border-style: solid ;
    height: 0.8em;
    width: 0.8em;
   } 
   

.instructions {
    display: flex;
    background-color: #EFA3C8; 
    color: aliceblue;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-top: 1em;
}
.colorOptions{
    display: flex;
    justify-content: space-around;

    /* justify-content: space-around;
    align-items: center; */
}

.colorOptions > span{
    border-radius: 40px;
    border-style: solid ;
    height: 2.5em;
    width: 2.5em;
    margin: 0.2em;
 }

.colorOptions > span:hover{
    cursor: pointer;
}

.blue {
    background-color: #19A7CE;}
.orange{
    background-color: #F97B22;
}
.green{
    background-color:#00FFCA ;}
.purple{
    background-color: #AD7BE9;
}
.pink{
    background-color: #FF55BB;
}
.yellow{
    background-color: #F9F54B;
}

